:root {
  --colore-primario: #89a0e4;
  --colore-secondario: #a087e0;
  --colore-terziario: #e587bf;
  --colore-accento: #d6eb0c;
}

body {
  background-color: var(--colore-primario) !important;
  font-family: "Roboto Condensed", serif !important;
}

a {
  color: var(--colore-accento) !important;
}

section {
  padding: 30px 30px 80px;
  margin: 0 50px 0;
}

.custom-bg {
  background-color: #89a0e4 !important;
}
.custom-bg-2 {
  background-color: var(--colore-secondario);
  border-radius: 20px;
}

nav img {
  width: 300px !important;
}

nav a {
  color: white !important;
}
nav a:hover {
  color: var(--colore-accento) !important;
}

nav ul {
  padding-right: 30px;
}

nav li {
  margin-left: 30px;
  text-transform: uppercase;
  font-size: 18px;
}

.job-title {
  color: #d6eb0c;
  font-size: 80px;
  line-height: 60px;
}
.box-1 {
  padding: 0 100px 0;
}
.about-me {
  background-color: white;
  padding: 50px 0;
  width: 100vw;
  margin: 0;
  padding: 50px 200px;
}

/*.btn-style-1 {
  width: auto;
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background: var(--colore-secondario);
  border-radius: 3px;
  border: none;
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: white;
} */

.btn-style-1 {
  width: 65px; /* Larghezza */
  height: 65px; /* Altezza uguale per fare un cerchio */
  background-color: var(--colore-accento); /* Colore di sfondo */
  border: none;
  border-radius: 50%; /* Rende il bottone circolare */
  margin: 0 auto;
  display: block;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 85%;
  color: white;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.btn-style-1:hover {
  background-color: #b3c200; /* Cambia colore al passaggio */
}

.about-me h3 {
  font-size: 20px;
  color: var(--colore-secondario);
  text-transform: uppercase;
}

footer {
  color: white;
  margin-top: 100px;
}

.footer-main {
  padding: 0 100px 0;
  border-bottom: 1px solid var(--colore-accento);
}

footer li {
  list-style: none;
}

footer span {
  font-size: 12px;
  opacity: 80%;
  text-align: center !important;
}
